DATABASE_URL=
JWT_SECRET=
JWT_ACCESS_TOKEN_TTL=
RESEND_API_KEY=
RESEND_FROM=no-reply@kevinadiwiguna.com
PORT=

R2_ACCOUNT_ID=
R2_ACCESS_KEY_ID=
R2_SECRET_ACCESS_KEY=

R2_S3_ENDPOINT= 
R2_PUBLIC_URL=  
R2_BUCKET=